

      
    
  
<div class="row">
  <div class="col-sm-4">
    <div class="tableHeader">
  <strong>Success!</strong> 
</div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>code</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{js.title}}</td>
        <td>{{js.code}}</td>
        <td>{{js.Example}}</td>
      </tr>
      
    </tbody>
  </table></div>

   <div class="col-sm-4">
    <div class="tableHeader">
  <strong>Success!</strong> 
</div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>code</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{js.title}}</td>
        <td>{{js.code}}</td>
        <td>{{js.Example}}</td>
      </tr>
      
    </tbody>
  </table></div>
  
   <div class="col-sm-4">
    <div class="tableHeader">
  <strong>Success!</strong> 
</div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>title</th>
        <th>code</th>
        <th>Example</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{js.title}}</td>
        <td>{{js.code}}</td>
        <td>{{js.Example}}</td>
      </tr>
      
    </tbody>
  </table></div>
  </div>
  
  
  